{% if information_code > 0 %}
  <li class="list-inline-item">
    <a href="{{ information_href }}" id="information_code" title="{{ text_botao_download }}">
      <i class="fa fa-download"></i> 
      <span class="hidden-xs hidden-sm hidden-md">{{ text_botao_download }}</span>
    </a>
  </li>
{% endif %}