<h2 style="text-align: center;">COVID-19<strong style="box-sizing: border-box;">&nbsp;Updates</strong></h2>
<h3 style="text-align: center; margin-top: 10px; font-size: 24px; margin-left: 13px;"><br style="box-sizing: border-box;">Stay Home, Stay Safe</h3>
<h4 style="text-align: center; margin-top: 20px;"><br style="box-sizing: border-box;">Currently, our delivery services are available for limited areas.<br style="box-sizing: border-box;"><br style="box-sizing: border-box;">You can place your order at our store but the order will be shipped once the delivery services will be resumed.</h4>
<div class="popup__actions" style="text-align: center;">&nbsp;</div>
<div class="popup__actions" style="text-align: center;"><a class="action primary" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank" rel="noopener" style="box-sizing: border-box; background-color: transparent; color: white; text-decoration-line: none;">Read More</a></div>